.cart-buy-button{
    background-color: #4F7942 !important;
    height: 45px !important;
    width: 75px !important;
}

.cart-decline-button{
    height: 45px !important;
    width: 75px !important;
}

.cart-buttons-div{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 25px;
    gap: 30px;
}

.quantity-div{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
}

.quantity-cell{
    position: relative;
    display: flex;
    justify-content: center;
    /*left: 15%;*/
}

.number-of-products{
    margin-top: 3.5%;
}

.titleStyle{
    display: flex;
    justify-content: center;
    margin: 15px 0 15px 0 !important;
}

.empty-cart{
    display: flex;
    justify-content: center;
    margin: 10% 0 15% 0 !important;
}